<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   <p>I was a kid who was fascinated by CS since my childhood. Back in 2015-16, I started developing a MMO RPG which worked on <b>PHP/MYSQL</b>, which was my start in developing web applications, and back in 2018, I made by first step into cybersec, i loved finding flaws in web apps and reporting them, (I Still love making the internet secure).  </p>

       <p>Back in 2018 (June), I joined <b>Amrita University</b> for my undergraduation in <b>Computer Science</b> and is still pursuing my studies there. </p>

   <p>I will be sharing my cybersec & CS experiences through this blog.</p>
   
   <p>Area Of Interest: Application Security, Adversary Emulation.
   
   </br>
<b><u> My Achievements </b></u>
<ul>
   <li> <a href="https://bughunter.withgoogle.com/profile/31d46ee5-3115-4eea-a8d9-4aee40411e21">Google Hall Of Fame [Page 2] </a> - Listed In Google Security Hall Of Fame's Page 2 for reporting several security flaws in Core Google Products. </li>
   <li> Google's TOP VRP Researcher For 2018 - Google's One of the top researchers for the year 2018. </li>
   <li> Received CVE-2018-9452 from Android for finding a security vulnerability which affected millions of android devices. </li>
   <li> Received CVE-2021-21371 for Arbitrary Code Execution from Tenable. </li>
   <li> <a href="https://facebook.com/whitehat">Facebook HoF </a> -  Listed In Facebook Hall Of Fame 2018 for finding a vulnerability in Facebook platform </li>
   <li> Apple HoF - Acknowledged By Apple In 2018 for finding a security vulnerability within the apple web services </li>
   <li> <a href="https://www.microsoft.com/en-us/msrc/researcher-acknowledgments-online-services-archive"> Microsoft HoF </a> - Acknowledged By Microsoft for finding several security vulnerabilites in Microsoft.</a></li>
   <li> Redhat Hall Of Fame - For finding a security vulnerability in redhat </li>
   <li> Acknowledged by 40+ other companies such as Flipkart, Zoho, Currencycloud,Issu,Ecare.nl,Sidn.nl,Vocus Communications (New Zealand), US Defense, Intel, Avira, Royal Bank Of Scotland, Alienvault, De Nedersland Bank, Smokescreen, Ardoq, iWelcome, Crowdin, Zoho, SAPLabs.</li>
   <li> <b> Invited By Google Security Team To Attend BountyCon </b> - Attended BountyCon in Singapore, i was exclusively invited & fully sponsored by Google & Facebook back in Singapore [March 2019] </li>
<li> Acknowledged By Zoho for finding security vulnerabilities in their platform - 2019 </li>
<li> Recieved Scholarship from @Crowdfense for attending Nullcon & Training on "Secure Boot Exploitation". </li>
<li> Recieved Scholarship from EC-Council for CEH Practical+ </li>
</ul>


<b><u>Certifications</b></u>
<ul>
   <li> <a href="https://www.credential.net/239ff4ce-81e6-4e87-be1f-934ac31f27b8#gs.7jirs8"> Certified Red Team Professional (CRTP) - From PentesterAcademy </a></li>
<li>  <a href="https://aspen.eccouncil.org/VerifyBadge?type=certification&a=FTxPaB5W94jzbE6OaybKmg0kET/HQfNXrizfXwOx8pc=">CEH Practical - From EC-Council </a> </b> </li>
   <li> <a href="https://www.credly.com/badges/9294573d-9cae-41e1-98ae-4435ab4e77f6/public_url"> GFACT (GIAC) from SANS Institute  </a></li>
</ul>

<b><u>Presentations & Talks</b></u>
<ul>
   <li> Presented A Talk On "Domain Takeover" @ <b>Defcon 0471 </b>'s 2nd MEETUP - BHUB TRIVANDRUM </li>
<li> Speaker/Panel Member - Panel Discussion [Breaking Tech Giants] on <b> CODESEC 2019 </b> by <b> KERALA POLICE </b> </li>
   <li> Speaker/Panel Member - Panel Discussion [CTFs To Secure Career] - C0c0n 2020 </li>
</ul>

<b><u> Work Experiences </b></u>
<ul>
   <li> Volunteer @ DEFCON 29 Adversary Village
   <li> Served as Server Administrator/Developer for a famous Online MMORPG  From 2016 - Present </li>
   <li> Serving as a Associate Volunteer for <b> Kerala Police Cyberdome </b> from 2018 to Present </li>
</ul>

<b><u>Trainings & Workshops Attended</b></u>
<ul>
   <li>Nullcon 2020 Training [Secure Boot Exploitation] By Niek Trimmers & Cristfaro.</li>
   <li> Active Directory Security Bootcamp [Red Teaming] By Nikhil Mittal </li>
   
</ul>


<b><u>Opensource Contributions</b></u>
<ul>
   <li>Contributed to various OSS program's by ethically reporting security vulnerabilities in them, and also for patching. </li>
<li> Contributed several TTP(s) to Prelude Operator (Tool for Adversary Simulation) </b> </li>
   <li> Speaker/Panel Member - Panel Discussion [CTFs To Secure Career] - C0c0n 2020 </li>
</ul>



</div>



