<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   <p>I was a kid who was fascinated by CS since my childhood. Back in 2015-16, I started developing a MMO RPG which worked on <b>PHP/MYSQL</b>, which was my start in developing web applications, and back in 2018, I made by first step into cybersec, i loved finding flaws in web apps and reporting them, (I Still love making the internet secure).  </p>

       <p>Back in 2018 (June), I joined <b>Amrita University</b> for my undergraduation in <b>Computer Science</b> and is still pursuing my studies there. </p>

   <p>I will be sharing my cybersec & CS experiences through this blog.</p>
   
   </br>
<b><u> My Achievements </b></u>
<ul>
   <li> <a href="https://bughunter.withgoogle.com/profile/31d46ee5-3115-4eea-a8d9-4aee40411e21">Google Hall Of Fame [Page 2] </a> - Listed In Google Security Hall Of Fame's Page 2 for reporting several security flaws in Core Google Products. </li>
   <li> Google MVRP - Google's One of the most valuable researchers for the year 2018. </li>
   <li> <a href="https://facebook.com/whitehat">Facebook HoF </a> -  Listed In Facebook Hall Of Fame 2018 for finding a vulnerability in Facebook platform </li>
   #<li> <a href="Apple HoF - 
   <li> <a href="https://www.microsoft.com/en-us/msrc/researcher-acknowledgments-online-services-archive"> Microsoft HoF - Acknowledged By Microsoft for finding several security vulnerabilites in Microsoft.</a>
   #<li> <a href=
   
</div>



